<div class="container-multi-agentes">
  <div class="header-chat">
    <div class="chat-bubble">Chat</div>
  </div>

  <div class="main-content-multi">
    <button class="agent-button-main" (click)="navigateToCargarDatos()">Elegir varios Agentes</button>

    <h1 class="title-multi">Multi Agentes de IA</h1>

    <div class="agents-grid">
      <button class="agent-button" (click)="navigateToCargarDatos()">
        Agente <br> Predicción de ventas
      </button>
      <button class="agent-button" (click)="navigateToCargarDatos()">
        Agente <br> Correlación de calidad
      </button>
      <button class="agent-button" (click)="navigateToCargarDatos()">
        Agente <br> Predicción de producción
      </button>
      <button class="agent-button" (click)="navigateToCargarDatos()">
        Agente <br> Gestión de mantenimiento
      </button>
      <button class="agent-button" (click)="navigateToCargarDatos()">
        Agente <br> Predicción de compras
      </button>
      <button class="agent-button" (click)="navigateToCargarDatos()">
        Agente <br> Gestión de inventario
      </button>
    </div>

    <button class="agent-button-main all-agents" (click)="navigateToCargarDatos()">Todos los Agentes</button>
  </div>

  <div class="footer-multi">
    <span>Lyncros</span>
    <span class="arrow"></span>
    <span>B.AI Automation</span>
  </div>
</div>